aws-cdk.aws-cloud9==1.87.0
aws-cdk.aws-cloudtrail==1.87.0
aws-cdk.aws-s3==1.87.0
aws-cdk.aws-s3-assets==1.87.0
aws-cdk.aws-lambda==1.87.0
aws-cdk.aws-cloudformation==1.87.0
aws-cdk.custom-resources==1.87.0
aws-cdk.aws-secretsmanager==1.87.0
aws-cdk.aws-budgets==1.87.0
